<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jms="http://www.springframework.org/schema/jms"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd">

	<jms:annotation-driven />
	<context:annotation-config />
	<context:component-scan base-package="ru.udm.jms" />
	<context:property-placeholder location="classpath:config.properties" />

	<bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL">
			<value>tcp://localhost:61616</value>
		</property>
	</bean>


	<bean id="jmsTopicTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="pubSubDomain" value="true" />
	</bean>

	<bean id="topicDestination" class="org.apache.activemq.command.ActiveMQTopic">
		<constructor-arg index="0" value="${broker.topic.name}" />
	</bean>

	<bean id="defaultDestination" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg index="0" value="${broker.queue.name}" />
	</bean>

	<bean id="jmsContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="defaultDestination" />
		<property name="messageListener" ref="helloMessageListner" />
	</bean>

	<bean id="jmsTopicContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destinationResolver" ref="destinationResolver" />
		<property name="concurrentConsumers" value="1" />
		<property name="destinationName" value="topicDestination" />
		<property name="messageListener" ref="subscriber" />
		<property name="sessionAcknowledgeModeName" value="AUTO_ACKNOWLEDGE" />
		<property name="pubSubDomain" value="true" />
	</bean>
	
	<bean id="jmsTopicDurableContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destinationResolver" ref="destinationResolver" />
		<property name="concurrentConsumers" value="1" />
		<property name="destinationName" value="topicDestination" />
		<property name="messageListener" ref="durableSubscriber" />
		<property name="sessionAcknowledgeModeName" value="AUTO_ACKNOWLEDGE" />
		<property name="pubSubDomain" value="true" />
		<property name="subscriptionDurable" value="true" />
		<property name="clientId" value="${broker.topic.durableId}" />
		<property name="durableSubscriptionName" value="${broker.topic.durableName}"/>
	</bean>

	<bean id="destinationResolver"
		class="org.springframework.jms.support.destination.BeanFactoryDestinationResolver" />

</beans>